body {
    background-color: #427E80;
}

/* ----------Estilos header---------- */

header {
    height: 100px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

header svg {
    margin-top: 15px;
    margin-left: 50px;
}

nav {
    float: right;
    margin-top: 15px;
    margin-right: 50px;
}

li {
    background-color: #ffffff;
    float: left;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px #154454;
    margin-inline-end: 40px;
}

li:active {
    transform: translate(3px, 2px);
    box-shadow: none;
}

a {
    color: #427E80;
    text-decoration: none;
}

/* ----------Estilos main---------- */

#mainIndex {
    height: 1400px;
}

#titulo-principal {
    background-image: url("imagenes/codigo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 470px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloIndex {
    background-color: #2D2D2D;
    color: white;
    height: 60px;
    width: 900px;
    font-size: 60px;
    text-shadow: #000000 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloHistoria {
    background-color: #2D2D2D;
    color: white;
    height: 60px;
    width: 1050px;
    font-size: 60px;
    text-shadow: #000000 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloJuego {
    background-color: #2D2D2D;
    color: white;
    height: 60px;
    width: 650px;
    font-size: 60px;
    text-shadow: #000000 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #ffffff;
    text-shadow: #154454 2px 2px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajasMain {
    background-color: #ffffff;
    height: 360px;
    width: 350px;
    border: 5px solid #154454;
    float: left;
    margin: 150px;
}

main div img {
    height: 200px;
    width: 350px;
}

main div p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}

main div a {
    background-color: #427E80;
    color: #ffffff;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 2px 3px #154454;
    margin-inline-start: 90px;
}

main div a:active {
    box-shadow: none;
}

/* ----------Estilos footer---------- */

footer {
    background-color: #1d1d1d;
    color: #ffffff;
    height: 90px;
    margin-left: -10px;
    margin-right: -10px;
}

footer svg {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

h3 {
    float: left;
    font-size: 15px;
    margin-top: 35px;
}

#tituloNoMain {
    margin-left: 100px;
}

footer p {
    float: right;
    margin-top: 35px;
    margin-right: 40px;
    font-size: 18px;
}

footer img {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

/* ----------Animacion---------- */

rect#rect1, polygon#poly1 {
    animation: parte1 ease-in 5s;
    animation-iteration-count: 1;
}

rect#rect2, polygon#poly2 {
    animation: parte2 ease-in 5s;
    animation-iteration-count: 1;
}

@keyframes parte1 {
    0% {
        transform: translate(0,-10px);
        opacity: 0;
    }
    20% {
        transform: translate(0,-10px);
        opacity: 0;
    }
    30% {
        transform: translate(0,0);
        opacity: 1;
    }
    90% {
        transform: translate(0,0);
        opacity: 1;
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@keyframes parte2 {
    0% {
        transform: translate(0,-10px);
        opacity: 0;
    }
    30% {
        transform: translate(0,-10px);
        opacity: 0;
    }
    40% {
        transform: translate(0,0);
        opacity: 1;
    }
    90% {
        transform: translate(0,0);
        opacity: 1;
    }
    100% {
        transform:translate(0,0);
        opacity: 1;
    }
}

/* ----------Estilos main historia---------- */

#mainHistoria {
    height: 3050px;
}

#contenedorPrincipal {
    margin-top: 100px;
}

.contenedoresHistoria {
    display: flex;
    padding:80px 50px;
}

#tituloHistoria1 {
    text-align: center;
    margin-top: -10px;
}

#textoHistoria1 {
    text-align: left;
    width: 40%;
}

#tituloHistoria2 {
    margin-left: 200px;
    margin-bottom: 100px;
    width: 50%;
}

#textoHistoria2 {
    text-align: left;
    width: 50%;
    margin-left: 50px;
}

#tituloHistoria3 {
    margin-bottom: 80px;
    text-align: center;
}

#textoHistoria3 {
    text-align: left;
    width: 180%;
}

#tituloVideo {
    margin-top: 180px;
}

#cajaVideo {
    height: 800px;
    width: 950px;
    margin-top: -110px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

video {
    height: 100%;
    width: 100%;
}

#barraVideo {
    background-color: #1d1d1d;
    height: 50px;
    width: 940px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: -150px;
    display: flex;
    gap: 20px;
}

#botonPlay, #botonPause {
    height: 45px;
    width: 80px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px #154454;
}

#botonPlay #botonPause:active {
    box-shadow: none;
}

#imgPlay, #imgPause {
    height: 10px;
    width: 10px;
}

#tiempoVideo {
    color: #ffffff;
    margin-top: 10px;
    margin-left: 550px;
}

/* ----------Estilos main juego---------- */

#mainJuego {
    height: 1700px;
}

#h2Juego {
    font-size: 45px;
    padding-top: 100px;
}

#rompeCabezas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cajasVacias {
    display: flex;
}

#caja1, #caja2, #caja3 {
    background-color: #808080;
    height: 400px;
    width: 270px;
    border: 2px solid #000000;
    display: inline-block;
    text-align: center;
}

#imagenesJuego {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
}

#imagen1, #imagen2, #imagen3 {
    height: 400px;
    width: 270px;
}

#botonJuego {
    margin-left: 540px;
    padding: 10px 100px;
    border-radius: 10px;
    box-shadow: 2px 3px #000000;
}

#botonJuego:active {
    transform: translate(3px, 2px);
    box-shadow: none;
}